@import url('https://fonts.googleapis.com/css?family=Poppins: 200, 300, 400, 500, 600, 700, 800, 900&display=swap');
*{ 
margin: 0;
padding: 0;
box-sizing: border-box; 
font-family: 'Poppins', sans-serif;
}

section{
width: 100%;
padding: 100px;
display: flex;
position: relative; 
min-height: 100vh; 
justify-content: space-between; 
align-items: center;
background: #fff;
}

header{ 
position: absolute;
top: 0; 
Left: 0; 
width: 100%; 
padding: 20px 100px; 
display: flex;
justify-content: space-between; 
align-items: center;
}

header .logo{ 
position: relative;
max-width: 80px;
}

header ul{
position: relative; 
display: flex;
}

header ul li{
List-style: none;
}

header ul li a{
color: #333;
display: inline-block; 
margin-left: 40px;
font-weight: 400;
text-decoration: none;
}
.card-body{
    background-color: #dfc2c2;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    padding: 8px;
}
.card-body:hover{
    box-shadow: 0 8px 16px 0 rgb(109, 106, 106);
}
.servicesText.card {
    height: 215px;
    text-align: justify;
    
  }

.card-title {
    text-align: center;
}

    

